<launch>

  <arg name="namespace" default="duo"/>

  <group ns="$(arg namespace)">
	<param name="fps"  value="30" />
    <node name="duo_ros" pkg="duo_ros" type="duo_ros"/>
  </group>

  <node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg namespace)/left"/>
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg namespace)/right"/>
  
  <arg name="tf_prefix" default="" />
  <arg name="pi/2" value="1.5707963267948966" />
  <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />

  <node pkg="tf" type="static_transform_publisher" name="camera_base_link" 
	args="$(arg optical_rotate) /base_link /duo_frame 100" /> 
	
  <!--node pkg="tf2_ros" type="static_transform_publisher" name="test_base_link1"
	args="0 0 0 0 0 0 1 duo_frame base_link" /-->
  
</launch>